---
import Button from "../components/Link.astro";
---

<h3>Støt kampen mod engangsplastik – sammen kan vi skabe en renere planet!</h3>

<section class="grid lg:grid-flow-col gap-5 lg:mx-44">
  <div>
    <p class="max-w-lg">
      Med din støtte kan vi kæmpe for, at politikere og virksomheder tager
      ansvar for at standse overproduktion og forurening fra plastik nu og at vi
      kan uddanne fremtidens forbrugere.
    </p>
    <p class="max-w-lg">
      Du bliver en del af en global Plastic Changer bevægelse, der siger: STOP
      PLASTIKFORURENING NU!
    </p>
  </div>




<!-- form --> 
<div class="bg-[#193452] p-9 rounded-lg">
    <form action="" data-netlify="true">
      <!-- Donationsperiode -->
      <div class="pb-5">
        <p>Donations periode</p>
        <div class="flex gap-4">
          <div class="flex items-center gap-x-3">
            <input
              id="engangs"
              name="periode"
              type="radio"
              class="h-5 w-5 bg-[#001D3D] border-none text-[#001D3D] focus:outline-none focus:ring-0 focus:ring-[#ffffff]"
            />
            <label for="engangs" class="block text-md leading-6 text-white"
              >Engangs betaling</label
            >
          </div>
  
          <div class="flex items-center gap-x-3">
            <input
              id="måned"
              name="periode"
              type="radio"
              class="h-5 w-5 bg-[#001D3D] border-none text-[#001D3D] focus:outline-none focus:ring-0 focus:ring-[#ffffff]"
            />
            <label for="måned" class="block text-md leading-6 text-white"
              >Månedligt</label
            >
          </div>
        </div>
      </div>

        <!-- udvalgt beløb -->
        <div class="pb-5 ">
            <p>Hurtig donation (kr.)</p>
            <div class="flex gap-9">
              <div class="flex items-center gap-x-3">
                <input
                  id="donation50"
                  name="beløb"
                  type="radio"
                  class="h-12 w-12 bg-[#001D3D] border-none text-[#001D3D] focus:outline-none focus:ring-0 focus:ring-[#ffffff]"
                />
                <label for="donation50" class="block text-md leading-6 text-white"
                  >50</label
                >
              </div>
      
              <div class="flex items-center gap-x-3">
                <input
                  id="donation75"
                  name="beløb"
                  type="radio"
                  class="h-12 w-12 bg-[#001D3D] border-none text-[#001D3D] focus:outline-none focus:ring-0 focus:ring-[#ffffff]"
                />
                <label for="donation75" class="block text-md leading-6 text-white"
                  >75</label
                >
              </div>

              <div class="flex items-center gap-x-3">
                <input
                  id="donation100"
                  name="beløb"
                  type="radio"
                  class="h-12 w-12 bg-[#001D3D] border-none text-[#001D3D] focus:outline-none focus:ring-0 focus:ring-[#ffffff]"
                />
                <label for="donation100" class="block text-md leading-6 text-white"
                  >100</label
                >
              </div>

            </div>
          </div>
  
    
  
      <!-- Selvvalgt Beløb -->
      <div class="pb-5">
          <p>Selvvalgt beløb (kr.)</p>
          <div class="mt-2">
            <input type="text" name="selvvalgt-beløb" placeholder="Selvvalgt beløb" id="first-name" autocomplete="given-name"         class="w-full bg-[#001D3D] text-white placeholder-gray-400 px-4 py-3 rounded-lg focus:outline-none focus:ring-0 focus:ring-white">
          </div>
  
      <!--  støt knap  -->
      <div class="transition pt-5">
        <Button type="submit" variant="primary" size="medium"> Indsend</Button>
      </div>
    </form>
  



</section>
