---

---



<h3 >Støt kampen mod engangsplastik – sammen kan vi skabe en renere planet!</h3>

<section class="grid grid-flow-col mx-44">
<div>

  <p class="max-w-lg">
    Med din støtte kan vi kæmpe for, at politikere og virksomheder tager ansvar
    for at standse overproduktion og forurening fra plastik nu og at vi kan
    uddanne fremtidens forbrugere.
  </p>
  <p class="max-w-lg">
    Du bliver en del af en global Plastic Changer bevægelse, der siger: STOP
    PLASTIKFORURENING NU!
  </p>
</div>

<!-- form -->
<div class="bg-[#193452] p-9 rounded-lg">
  <form action="" data-netlify="true">
    <!-- Donationsperiode -->
    <div class="pb-5">
      <p>Donations periode</p>
      <div class="flex gap-4">
        <div class="flex items-center gap-x-3">
          <input
            id="engangs"
            name="måned"
            type="radio"
            class="h-5 w-5 bg-[#001D3D] border-none text-[#001D3D]"
          />
          <label for="engangs" class="block text-md leading-6 text-white"
            >Engangs betaling</label
          >
        </div>

        <div class="flex items-center gap-x-3">
          <input
            id="måned"
            name="måned"
            type="radio"
            class="h-5 w-5 bg-[#001D3D] border-none text-[#001D3D]"
          />
          <label for="måned" class="block text-md leading-6 text-white"
            >Månedligt</label
          >
        </div>
      </div>
    </div>

    <!-- udvalgt Beløb -->
    <div class="pb-5">
      <p>Hurtig donation (i kr)</p>
      <fieldset class="flex gap-4">
     
          <div class="flex items-center gap-x-3">
            <input
              id="50kr"
              name="50kr"
              type="radio"
              class="h-12 w-12 bg-[#001D3D] border-none text-[#001D3D]"
            />
            <label
              for="50kr"
              class="block text-md font-medium leading-6 text-white">50</label
            >
          </div>

          <div class="flex items-center gap-x-3">
            <input
              id="75kr"
              name="75kr"
              type="radio"
              class="h-12 w-12 bg-[#001D3D] border-none text-[#001D3D]"
            />
            <label
              for="75kr"
              class="block text-md font-medium leading-6 text-white">75</label
            >
          </div>

          <div class="flex items-center gap-x-3">
            <input
              id="100kr"
              name="100kr"
              type="radio"
              class="h-12 w-12 bg-[#001D3D] border-none text-[#001D3D]"
            />
            <label
              for="100kr"
              class="block text-md font-medium leading-6 text-white">100</label
            >
          </div>
      </fieldset>
    </div>

    <!-- Selvvalgt Beløb -->
    <div class="pb-5">
        <p>Selvvalgt beløb i kr.</p>
        <div class="mt-2">
          <input type="text" name="first-name" placeholder="Selvvalgt beløb" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>

    <!--  støt knap  -->
  </form>
</div>
</section>
