---

---

<section class="flex flex-col items-center justify-center min-h-screen">
  <div class="bg-[#000D36]/50 p-20 rounded-lg">
    <div>
      <h2>Top 10</h2>
      <h3>indsamlede genstande i havet</h3>
    </div>
    <div class="grid
    grid-cols-2
    grid-rows-10
    gap-4">
      <div>
        <img src="../public/Cigaretter.svg" alt="Cigaretter" />
        <h3 class="text-sm">1. Cigaretskodder</h3>
        <p>2,412,151</p>
      </div>

      <div>
        <img src="../public/Slik.svg" alt="Slik" />
        <h3 class="text-sm">2. Madindpakning</h3>
        <p>1,739,743</p>
      </div>
      <div>
        <img src="../public/flaske.svg" alt="flaske" />
        <h3 class="text-sm">3. Plastikflasker</h3>
        <p>1,569,135</p>
      </div>
      <div>
        <img src="../public/Plastikpropper.svg" alt="propper" />
        <h3 class="text-sm">4. plastikpropper</h3>
        <p>1.091,107</p>
      </div>
      <div>
        <img src="../public/Pose.svg" alt="Pose" />
        <h3 class="text-sm">5. Plastik indkøbsposer</h3>
        <p>757,523</p>
      </div>
      <div>
        <img src="../public/Chipspose.svg" alt="Plastikpose" />
        <h3 class="text-sm">6. Andre plastikposer</h3>
        <p>746,211</p>
      </div>

      <div>
        <img src="../public/Sugerør.svg" alt="Sugerør" />
        <h3 class="text-sm">7. Sugerør</h3>
        <p>643,562</p>
      </div>
      <div>
        <img src="../public/BeholdeTA.svg" alt="TABeholder" />
        <h3 class="text-sm">8. Plastik take away beholder</h3>
        <p>632,874</p>
      </div>

      <div>
        <img src="../public/Lids.svg" alt="Låg" />
        <h3 class="text-sm">9. Plastiklåg</h3>
        <p>624,878</p>
      </div>
      <div>
        <img src="../public/TakeAway.svg" alt="TakeAway" />
        <h3 class="text-sm">10. Skum take away beholdere</h3>
        <p>580,570</p>
      </div>
    </div>
  </div>
</section>

<script></script>
