---

---

<section class="flex flex-col items-center justify-center min-h-screen">
  <div class="bg-[#000D36]/50 p-20 rounded-lg">
    <div>
      <h2>Top 10</h2>
      <h3>indsamlede genstande i havet</h3>
    </div>

    <div class="grid grid-cols-2 gap-8 mt-10">
      <div class="flex flex-col items-center">
        <img
          class="h-auto max-w-12"
          src="../public/Cigaretter.svg"
          alt="Cigaretter"
        />
        <h3 class="text-lg">1. Cigaretskodder</h3>
        <p class="text-3xl">2,412,151</p>
      </div>

      <div class="flex flex-col items-center">
        <img class="h-auto max-w-20" src="../public/Slik.svg" alt="Slik" />
        <h3 class="text-lg">2. Madindpakning</h3>
        <p class="text-3xl">1,739,743</p>
      </div>

      <div class="flex flex-col items-center">
        <img class="h-auto max-w-20" src="../public/flaske.svg" alt="flaske" />
        <h3 class="text-lg">3. Plastikflasker</h3>
        <p class="text-3xl">1,569,135</p>
      </div>

      <div class="flex flex-col items-center">
        <img
          class="h-auto max-w-16"
          src="../public/Plastikpropper.svg"
          alt="propper"
        />
        <h3 class="text-lg">4. Plastikpropper</h3>
        <p class="text-3xl">1,091,107</p>
      </div>

      <div class="flex flex-col items-center">
        <img class="h-auto max-w-16" src="../public/Pose.svg" alt="Pose" />
        <h3 class="text-lg">5. Plastik indkøbsposer</h3>
        <p class="text-3xl">757,523</p>
      </div>

      <div class="flex flex-col items-center">
        <img
          class="h-auto max-w-16"
          src="../public/Chipspose.svg"
          alt="Plastikpose"
        />
        <h3 class="text-lg">6. Andre plastikposer</h3>
        <p class="text-3xl">746,211</p>
      </div>

      <div class="flex flex-col items-center">
        <img
          class="h-auto max-w-16"
          src="../public/Sugerør.svg"
          alt="Sugerør"
        />
        <h3 class="text-lg">7. Sugerør</h3>
        <p class="text-3xl">643,562</p>
      </div>

      <div class="flex flex-col items-center">
        <img
          class="h-auto max-w-16"
          src="../public/BeholdeTA.svg"
          alt="TABeholder"
        />
        <h3 class="text-lg">8. Plastik take away beholder</h3>
        <p class="text-3xl">632,874</p>
      </div>

      <div class="flex flex-col items-center">
        <img class="h-auto max-w-16" src="../public/Lids.svg" alt="Låg" />
        <h3 class="text-lg">9. Plastiklåg</h3>
        <p class="text-3xl">624,878</p>
      </div>

      <div class="flex flex-col items-center">
        <img
          class="h-auto max-w-16"
          src="../public/TakeAway.svg"
          alt="TakeAway"
        />
        <h3 class="text-lg">10. Skum take away beholdere</h3>
        <p class="text-3xl">580,570</p>
      </div>
    </div>
  </div>

  <script></script>
</section>
